
<div class="row">
    <% @reviews.each do |park| %>
        <div class="col-sm-3">
            <div class="card">
                <div class="card-img-top">
                    <%= image_tag park.picture, width: '100%' %>
                </div>
                <div class="card-body">
                   
                    <div class="card-text">
                        <p><%= park.comment %></p>
                    </div>
                    <div>
                        <%= link_to 'Edit', edit_park_path(park) %>
                        <%= link_to 'Show', park_path(park) %>
                    </div>
                </div>
            </div>
         </div>
    <% end %>
</div>